MEILI_MASTER_KEY=change_me
KEYCLOAK_ISSUER=https://sso.danceresource.org/realms/YOUR_REALM
KEYCLOAK_JWKS_URL=https://sso.danceresource.org/realms/YOUR_REALM/protocol/openid-connect/certs
KEYCLOAK_AUDIENCE=YOUR_CLIENT_ID_OR_AUDIENCE
KEYCLOAK_REALM=YOUR_REALM
KEYCLOAK_CLIENT_ID=YOUR_CLIENT_ID
NEXT_PUBLIC_MAP_TILE_URL=https://tile.openstreetmap.org/{z}/{x}/{y}.png
